[2016-05-24 18:05] lfarah opened #1 "Cocoapods please"
I'd be cool to also add Cocoapods support. I done this implementation myself last month for my library. Just follow [this post](https://guides.cocoapods.org/making/making-a-cocoapod.html) and [this checklist](https://github.com/thellimist/EZPods).

[2016-05-25 02:44] philackm commented on #1
I was thinking about doing this also.

I also need to remove the deprecated language features of Swift 2 and replace them with the Swift 3 equivalents. I'll do this at the same time. Thank you for the links!

[2016-05-25 02:47] philackm opened #2 "Deprecated Language Features"
Multiple language features will be removed in Swift 3. The deprecated language features must be replaced with the Swift 3 equivalents.

[2016-05-25 21:19] fvisticot opened #3 "Pinch / Zoom feature would be great"

[2016-05-26 00:48] thephatp commented on #1
+1 for Cocoapod support.

[2016-05-26 00:55] thephatp commented on #2
+1 for this as well.

BTW, this is **beautiful**! I can't have so many warnings in the project I'm working on right now, but whenever you're able to update the warnings, I'm definitely planning on integrating your code here. THANK YOU for making something so slick! 👍

[2016-05-26 06:02] thephatp opened #4 "init(coder:) not implemented"
Consider this a feature request rather than a bug. :)

It would be much more convenient to be able to connect directly to the GraphView from Interface Builder. Unfortunately, I have to create a container right now, because when I hook it up in IB, it tries to call the method that is not implemented yet:

`    required init?(coder aDecoder: NSCoder) {
        fatalError("init(coder:) has not been i

[2016-05-26 11:36] #2 closed

[2016-05-27 15:51] philackm commented on #1
CocoaPods support should be fine now. Try "pod ScrollableGraphView" in your Podfile.

[2016-05-27 15:51] #1 closed

[2016-05-27 23:06] joeljfischer opened #6 "tvOS support"
It should be possible to add tvOS support. You should just have to disable any touch based apis by wrapping them in checking for the tvOS target.

[2016-05-28 12:45] Fudge0952 commented on #4
I would say this is a bug because a larger portion of people are creating their views in interface builder.

[2016-05-28 12:46] Fudge0952 opened #7 "Feature Request: Comments on variables"
It would be really nice to have some `///` comments before each variable so we know what each one is doing without having to reverse engineer your code 😄

[2016-05-28 12:55] philackm commented on #7
I tried to keep the variable names as descriptive as possible. It appears I could have done better!

Which variables in particular are you having trouble with? Each public variable has a description (a couple even have images!) in the README file here: https://github.com/philackm/Scrollable-GraphView#Customisation

[2016-05-28 13:07] philackm commented on #7
Ah, okay. I just checked it out. The triple slash comments appear in the IDE when accessing the variables!

I'll update them so it's easier to use!

[2016-05-28 13:13] Fudge0952 opened #8 "Feature Request: Interface Builder Designable"
It would be really nice to be able to not only create the object in interface builder but to be able to design the object in interface builder as well.

To fix the first problem you need to replace the `initWithCoder` function with

[code]

Secondly, after `// MARK: - ScrollableGraphView` you need to mark the class as "designable" by adding `@IBDesignable`. Then for each variable which you wish to

[2016-05-28 13:18] Fudge0952 commented on #7
😊 The variables are relatively self explanatory but if would be nice to have the description pop up when I type the variable 😊. If you want an easy way to comment your variables and functions I would strongly recommend [VVDocumenter](https://github.com/onevcat/VVDocumenter-Xcode). I have no connection with them but I use it all the time now.

[2016-05-28 14:16] philackm commented on #8
Thanks for the help. I've got the basics down and it seems to be working:
<img width="750" alt="screen shot 2016-05-29 at 12 12 00 am" src="https://cloud.githubusercontent.com/assets/2552214/15627782/64316912-2532-11e6-94eb-5a227f5836e3.png">

However there are a whole bunch of bugs regarding the animation and other various layers. I'll need to spend some more time on this when I get a chance.

[2016-05-29 01:21] philackm commented on #4
This should get resolved when #8 does.

[2016-05-30 06:53] elavarasanFluke opened #9 "Multi line graph"
is it possible to show multiple line in the graph?

[2016-05-30 06:56] elavarasanFluke opened #10 "Number of labels in the x-axis"
is it possible to reduce the number labels shown on the x-axis? When I have to show large number of points , label in the x-axis are overlapping. And I don't want large spacing between those points.

[2016-05-30 07:01] philackm commented on #9
This is currently not available, however it is on my TODO list and will be available in the future.

[2016-05-30 07:05] philackm commented on #10
The logic for the x-axis is very simple, it just prints a label at the required position for **every** data point. The only options at the moment are font size, or to turn off the labels altogether.

I'll add this to the TODO list but it won't be available for a while unfortunately.

[2016-06-01 12:20] ricburton opened #11 "OS X support"
We’d love to use this library in our Mac app—it looks fantastic!

[2016-06-03 16:32] TofPlay opened #12 "Carthage"
Hi,
For iOS and OS X projets it's will be great to make your component [Carthage](https://github.com/Carthage/Carthage) compatible

Take a look at these articles:
- [Ruthlessly Simple Dependency Management with Carthage](https://realm.io/news/swift-dependency-management-with-carthage/)
- [Carthage Tutorial: Getting Started](https://www.raywenderlich.com/109330/carthage-tutorial-getting-started)
-

[2016-06-04 15:40] jdfweb commented on #11
+1 on this!

[2016-06-04 17:40] diogenesvanzella opened #14 "CocoaPods doesn't work"
Hi, I'm trying to use your Lib, but when I add " pod 'ScrollableGraphView' " to my Podfile, the following error occurs.. " Unable to find a specification for 'ScrollableGraphView' ". How can I solve this problem?

[2016-06-04 19:43] philackm commented on #14
I just tested this here and I can't seem to replicate it, this was my output after running "pod update":

<img width="846" alt="screen shot 2016-06-05 at 5 32 51 am" src="https://cloud.githubusercontent.com/assets/2552214/15801646/296e5e40-2adf-11e6-9a91-2ef075fcc8e5.png">

My Podfile was simply:

[code]

Are you sure the spelling is correct and that there are no unwanted symbols in the Podfile?

[2016-06-04 19:55] philackm commented on #12
This should be fine. I'll take a look at it next chance I get.

[2016-06-04 22:00] diogenesvanzella commented on #14
Thanks! When I update the error disappear, now is working!

[2016-06-04 22:00] #14 closed

[2016-06-05 08:43] FroeMic opened #15 "dataPointLabels displayed under graph"
It would be great to have the option to display the dataPointsLabels (x-axis) under the graph, so it's not in the filled area.

[2016-06-07 07:28] llKoull opened #16 "Scroll after create Graph"
Hello!

First of all I want to thank you about this awesome library! I'm using it in a new project and It's really smooth. I only have one question. Is it posible to automatically scroll to the end of the graph after it appears on the view?

Best regards!

[2016-06-07 09:56] juneadiosdeveloper opened #17 "bar graph functionality is not found"
You have shown in Demo that we can also use it as bar chart . but there are no methods avaliable for bar chart

[2016-06-07 10:35] #17 closed

[2016-06-08 14:07] hdoria commented on #16
Same problem here.

[2016-06-08 14:20] hdoria opened #18 "Add support for label formatter"
Is there a way to format the label on y axis? Would be great to be able to format the string. It's useful to display currency and other types of data.

[2016-06-08 15:42] hdoria commented on #16
Just figured it out. You can change the scroll direction:

[code]

RightToLeft will automatically scroll to the end of the graph .

[2016-06-08 15:48] llKoull commented on #16
Hi hdoria!

I tried this line of code but It doesn't work for me 😟

`let graphView = ScrollableGraphView(frame: CGRectMake(0.0, 0.0, self.frame.width, self.frame.height))
        graphView.topMargin = 80

        graphView.backgroundFillColor = UIColor.colorFromHex("#333333")

        graphView.lineWidth = 1
        graphView.lineColor = UIColor.colorFromHex("#777777")
        graphView.lineStyle

[2016-06-08 16:37] philackm commented on #18
The only options at the moment for the labels on the y-axis are:

| Property | Description |
|----------|-------------|
|**referenceLineLabelFont**|The font to be used for the reference line labels.|
|**referenceLineLabelColor**|The colour of the reference line labels.|
|**shouldShowReferenceLineUnits**|Whether or not to show the units on the reference lines.|
|**referenceLineUnits**|The units tha

[2016-06-08 16:46] philackm commented on #16
@hdoria Yes! That property can be used to change which end of the graph it starts at.

@llKoull Try changing:

`self.graphView?.direction = .RightToLeft`

to

`self.graphView.direction = .RightToLeft`

I don't think you have declared graphView as an optional.

Otherwise I can't see any other major mistakes. Does it not start at the end of the graph even after changing the direction to .RightToLeft

[2016-06-08 21:25] llKoull commented on #16
Hi @philackm !

I tried to use `self.graphView.direction = .RightToLeft` but xcode gives me an error and I cant compile. I also tried to declare it as ! and the i can compile but i get

I always have to scroll from left to right no matters which direction i choose :O

Thanks for your help

[2016-06-08 21:39] llKoull commented on #16
I finally got this working, It was my fault, I was using `self.grapView` and i should use `graphview` instead.

But now i've got another problem, The graph scroll, that's nice, but the graphic it's not filled with color It seems that only half part of the graphic is filled until i touch It (some lines and the Y-axis values are also hidden. If i touch the graph It fills up with the correct color).

[2016-06-09 00:05] philackm commented on #16
Hmmm. Could you post the code you have to a GitHub gist (https://gist.github.com) and then post the link here? I'd like to try reproduce it and find what's causing the bug.

[2016-06-09 08:39] llKoull commented on #16
I'm sorry, but i can't post all the code. Anyways, I can tell you what i've done.

I created a UICollectionView with a custom cell called GraphCollectionViewCell. This is the code of the custom cell:

`import UIKit
import ScrollableGraphView

class GraphCollectionViewCell: UICollectionViewCell {

    @IBOutlet weak var graphTitle: UILabel!
    @IBOutlet weak var graphContainerView: UIView!
    var

[2016-06-09 13:24] hdoria commented on #16
Same problem here. This only happens when using ScrollableGraphViewDirection.RightToLeft.

[2016-06-09 14:12] philackm commented on #16
Okay I just pushed 1.1.1 to cocoapods.

@hdoria, @llKoull Can you please try that version and let me know if it is any better?

[2016-06-09 14:15] llKoull commented on #16
Yeah! It's working perfect! ^_^

Thanks @philackm !!!

[2016-06-09 19:00] YHSX88 opened #19 "Future Request or how to add shadow to the line ?"
Hi Guys

I was wondering how to add shadow to the main line that is connecting the dots as I was inspired by a design. I have figure it out. I'm  kindly asking the author of the library to expose it, so can be added easily.

the final goal is to get line which will have shadow as the example below created by Sam Thibault in one of his prototypes.

![report_full](https://cloud.githubusercontent.com

[2016-06-10 01:13] felix-dumit opened #20 "Animation resets if multiple calls are made"
Hi,

First of all thanks for this awesome library!

I've been using it and sometimes the graph gets updated twice (usually with the same data), before the animation of the first calls finishes. And this causes the animation to abort and restart for the 2nd call. Which looks odd.

To test this include the following code in the `viewDidLoad` method of the example project:

[code]

I think possible s

[2016-06-10 01:29] philackm commented on #20
Hi!

Thanks for this!

I will have to implement number 1 in the future, but for now I've pushed a new version (1.1.2) which checks if you're setting the same data again and if so, ignores it.

Can you try it out and let me know if it fixes your problem?

[2016-06-10 01:47] felix-dumit commented on #20
@philackm Yeah that fixes it, thanks for the quick reply!

[2016-06-10 16:01] guydaher commented on #9
+1, would really like to have that!

[2016-06-10 17:42] #19 closed

[2016-06-13 00:22] spinach opened #21 "More flexibility when shouldAutomaticallyDetectRange = true"
First of all, great library, I really like it :)

I'm wondering if we could add more flexiblity to shouldAutomaticallyDetectRange = true. Right now, it will resize the graph depending on what is the max-y value and min-y value. I m wondering if we can add some vertical margin in there?

Example: if max-y value is 115, and y-margin is 15, then highest value in graph would be 130 and not 115 like it

[2016-06-13 00:33] guydaher commented on #8
Any ETA on that? Especially for the part of "creating the object in interface builder", that would be really helpful.

[2016-06-13 10:41] floriannagel commented on #20
I can back this up, i want to realise a simple WaveForm and it looks uncool, because the whole bar is refreshing again and again. Is there a solution? :/

[2016-06-13 11:03] philackm commented on #20
Can you explain a little bit about what you mean by "a simple waveform"?

[2016-06-13 12:55] #16 closed

[2016-06-13 12:58] philackm commented on #8
No ETA as of yet sorry! I'll hopefully have some time this coming weekend to get this working.

[2016-06-13 13:00] philackm commented on #21
Yeah, this should definitely be easy enough to implement.

Pull requests are always welcome. :p

[2016-06-13 15:26] floriannagel commented on #20
Something like this: https://developers.soundcloud.com/assets/posts/waveform_rendering_mask-2d44b706dd9171ec4bdb6720fa2c0fb1.png
But just with Bars going Up. Don't know if i can make it in both directions. Up und Down. Und i have an array which will be reloaded fast. So the animation just startet over and over

[2016-06-13 20:09] guydaher commented on #4
@thephatp Maybe you can help me with problems about putting this GraphView in a container. I wrote the issue in SO http://stackoverflow.com/questions/37794369/container-view-not-satisfying-autolayout?noredirect=1#comment63057118_37794369
Would appreciate the help.

[2016-06-14 02:51] philackm commented on #20
I'm still not entirely sure what you want to do.

You should be able to create a bar graph that looks like a waveform, here is an example of a sine wave:

![simulator screen shot jun 14 2016 12 43 08 pm](https://cloud.githubusercontent.com/assets/2552214/16029636/9506b530-322d-11e6-9c80-f60c4466dcba.png)

Are you trying to animate the waveform? As in, are you updating the array and then calling se

[2016-06-14 13:50] HarishHary opened #22 "Can we detect that the user arrived at the end of the graph when he scrolls ?"
I am asking this question so we can add dynamically more data the more the users scrolls.

[2016-06-15 17:06] floriannagel commented on #20
Thank you :)

[2016-06-16 13:46] #10 closed

[2016-06-17 07:45] diegobas opened #25 "Feature Request: Individual Point or Bar Color and grouped data"
It would be nice to have the posibility to set indivudual colors for each point or bar, and also to group multiple data values for each label

[2016-06-17 12:39] #20 closed

[2016-06-17 13:02] #7 closed

[2016-06-19 14:18] jonathontoon opened #26 "'dataPointLabelsSparsity' is not an available property"
**dataPointLabelsSparsity** is shown in the documentation as an available property yet is not implemented in the actual library. Would be nice to have it available as it sounds super useful.

[2016-06-19 15:28] philackm commented on #26
If you're using cocoapods, it should be resolved now. Version 1.2.0 should fix it!

[2016-06-23 07:07] tejas-ardeshna commented on #22
+1

[2016-06-24 11:10] tejas-ardeshna opened #27 "Add on demand graph will be great feature."
Scroll feature is awesome. While scroll reach at and should be option of append new data and add new point in graph.

[2016-06-24 22:14] praneeth03 opened #29 "How can I receive touch events from ScrollableGraphView"
I tried setting the delegate but touchesBegan or other touch events don't fire from the ScrollableGraphView - they fire from my normal view just fine.

[2016-06-25 00:12] praneeth03 commented on #29
Oh ignore this. For anyone wondering how to do this, just subclass ScrollableGraphView and then override touchesBegan or other events instead of setting the delegate!!

[2016-07-01 01:45] filipealva commented on #4
@philackm Firstly congrats about this awesome project!

Would be nice to have #28 merged before #8. I imagine that a lot of users of Scrollable-GraphView are modifying the `init(coder:)` method just to use it from IB. Please, consider it 👍

[2016-07-01 05:52] philackm commented on #4
Tested and everything seems okay! Merged it in! Thanks!

[2016-07-01 05:52] #4 closed

[2016-07-01 14:08] timbroder commented on #18
I made this #30  before I saw this ticket
@hdoria would using a NSNumberFormatterStyle do what you need?

[2016-07-01 14:16] timbroder opened #31 "Prevent graph from dropping off on the right"
(or stop the line from rendering after the last data point)

Scenario:
With ```rightmostPointPadding = 0``` my last label gets cut off:

![image](https://cloud.githubusercontent.com/assets/121503/16524026/56382cb8-3f74-11e6-85f5-40bbcb2cdd99.png)

If I extend the padding (or the user pulls to the left more) the line drops down to 0 and looks a little odd

![image](https://cloud.githubusercontent.c

[2016-07-01 14:34] timbroder commented on #31
Finishing updating the graph to our design helped, as it was the fill color. But still curious if the above is possible

![image](https://cloud.githubusercontent.com/assets/121503/16524766/71a085b0-3f77-11e6-8122-0c928d1022b4.png)

[2016-07-15 02:27] xcadaverx opened #33 "Scroll to end on initial load"
Is there a way to scroll to the end of the view after the animation is complete? or even before the animation starts?

[2016-07-18 19:35] inkrementz opened #34 "Detect tap Gesture on the x-axis labels"
How to detect the tap gesture on the label on the x-axis?

Goal is when the graph is displayed, no "circle" on the curve is displayed but if you tap on the label, the corresponding circle will be displayed with the corresponding value somewhere

[2016-07-19 13:16] unittesting0 opened #35 "How to add GraphView in tableViewCell?"
Hi guys,

Do you have any idea how to put GraphView in tableViewCell?
I'm getting lots of crash and can't list two or three different graphs in a tableview

Thanks.

[2016-07-20 21:39] devJoshLopez opened #36 "Question: reference labels"
I have a graph that shows data from 1 to 5 and i have labels that equal the date the data was submitted. On the left hand side it shows the data numbers but I want to make them strings where 1 = Good Day, 2 = Ok Day, ect. Is that possible?

[2016-07-27 16:24] timbroder commented on #34
@inkrementz you may be able to try @praneeth03's approach in #29. Not ideal but it seems to work

[2016-07-27 17:38] timbroder commented on #29
@praneeth03 you can also use an extension

[code]

[2016-07-27 19:48] inkrementz commented on #34
Not sure, I have a segmentation fault 11 :(
I m trying to use buttons on top of each x-axis label but it's like a battle to undestand how and where to change it :/ and of course to add the tapgesture... If you have any idea ... ;) thanks !

[2016-07-27 20:08] timbroder commented on #34
@inkrementz I had the seg fault issue also. (after I replied to you, sorry)

I was able to get around it by [using an extension](https://github.com/philackm/Scrollable-GraphView/issues/29#issuecomment-235661871 "using an extension")

So now I'm doing what I needed to do on scroll (firing events depending on where the contentOffset is) in there

[2016-08-02 20:03] inkrementz opened #37 "Change LineColor Stroke when graph already displayed"
I have my Graph already displayed. If I tap on a button, i'd like to change the strokecolor of the lineLayer. So I added this in the class:

    public func changeLineColor(color : UIColor) {
      lineLayer?.strokeColor = color.CGColor
    }

But if I call it from my view like: myGraph.changeLineColor(myColor) , it will return the error:

fatal error: use of unimplemented initializer 'init(layer:

[2016-08-04 09:38] andris-zalitis commented on #8
I'm implementing this right now. I was wondering whether you guys have preferences regarding which of the configuration properties should be exposed to IB. There are a lot of them and exposing all may be somewhat cluttering experience.
One approach that I may take - for now expose only those properties which are needed to recreate all the 4 styles of graphs included in the demo.

[2016-08-04 13:37] andris-zalitis commented on #8
I ended up adding all of the public properties to IB except for fonts and closures. Even though there are really a lot of them and it's not always easy to find what you need (especially since IB cuts off the longer names), we have used almost all of them in the 4 example graphs. So there was no point of leaving a few out.
#38

[2016-08-06 12:57] 36bydesign commented on #9
Any progress on this? Love this lib

[2016-08-07 11:19] philackm commented on #18
I think pull request #30 satisfies this. If not feel free to re-open it!

[2016-08-07 11:19] #18 closed

[2016-08-07 11:20] philackm commented on #8
This has been implemented by @andris-zalitis in pull request #38

[2016-08-07 11:20] #8 closed

[2016-08-09 16:26] cocoaHari opened #39 "Swift 3 Version!"
Can you please update it to support Swift 3?

[2016-08-14 08:42] inkrementz opened #40 "Horizontal Bar View"
Hi all !

is it possible to display the bar layer horizontally and not vertically ?

Thanks !

[2016-08-18 13:31] kanishkatn opened #41 "Multi Line Graph and an option to select the node"
Hi,

Could you please add an option to plot multiple values on the graph and an option to select a node/value?

Thanks. Love the Graph.

[2016-08-18 13:32] kanishkatn commented on #9
Please do it soon

[2016-08-18 13:41] kanishkatn opened #42 "How do I disable vertical scrolling on the graph?"
I wanna keep just the horizontal scrolling and disable vertical. How do I do this?

This is the default behavior
![screen shot 2016-08-18 at 7 20 48 pm](https://cloud.githubusercontent.com/assets/4919645/17776182/06ec5f3c-6579-11e6-95cb-6664dbf2309a.png)

I want the graph t position itself like this.

![screen shot 2016-08-18 at 7 21 10 pm](https://cloud.githubusercontent.com/assets/4919645/177762

[2016-08-24 05:47] shindonghyeok commented on #20
i also want to get a waveform... so you said you called setData very quickly, how can i do that??

[2016-08-25 03:05] shindonghyeok opened #43 "how to chage a pointcolor?"
thank you for your project. i want to change a point color. not all point but a special point. for example, i want change points which are  above 30 to red and 30 less than are be white.
how and where can i do it??

[2016-09-04 08:24] geogerar opened #44 "A Possible enhancement..."
Hi,

Nice work indeed.
Can we have 2 line scrollable graph?
This will be a nice enhancement!

Thank you very much

George Gerardis

[2016-09-04 13:08] geogerar commented on #44
If you give also, an example of using it in objective c that will be nice!

George

[2016-09-09 11:03] MHX792 commented on #31
I also would like to know this? Since the dropping of the line causes misinformation in my context.

[2016-09-13 13:56] rafaelc0sta commented on #39
Did a barebones, working swift3 version.

https://github.com/philackm/Scrollable-GraphView/pull/45/

[2016-09-14 09:08] sovannarithsok commented on #39
Please release a new version for swift 3 that you have fixed. Thanks

[2016-09-14 12:06] rafaelc0sta commented on #39
@sovannarithsok Already released. It's on my fork, branch "swift3". Not on CocoaPods though (we'll have to wait for the #45 PR to be merged)

[2016-09-16 07:09] dipen0807 commented on #9
Loved your work,requesting you to provide multi line graph. Please please, do it soon.

[2016-09-20 12:34] GabrielBor opened #46 "Reference lines in x-axis"
Hi people, I wonder , how to put the lines on the x axis.

[2016-09-21 20:20] MHX792 opened #47 "Support negative numbers below zero"
Hi,
first of all thank you very much for this great framework!

But currently it is not possible to draw negative bars below zero. E.g. try to draw ` data = [-10.0, 10.0]` with `minRange = -20.0`: Both bars will start to draw from `-20` instead of the baseline `0`.

![screen shot 2016-09-21 at 22 20 07](https://cloud.githubusercontent.com/assets/12123471/18727589/9489a198-8049-11e6-8d59-13007c3b11

[2016-09-23 12:05] dhf commented on #39
@sovannarithsok, cocoaHari better use this [PR #48](https://github.com/philackm/Scrollable-GraphView/pull/48) , by using the other one the datapoint are not all drawn correctly, additional PR #48 also contains the methods and enums renamed conforming to the new Swift 3 naming conventions from Apple

[2016-09-26 13:26] philackm commented on #39
Solved by #48!

[2016-09-26 13:26] #39 closed

[2016-09-26 20:45] filipealva opened #49 "Update README to fit Swift 3 conversion"
I'm having some trouble wondering how to refactor my projects in a way that fits the modifications made by Swift 3 conversion.

[2016-09-26 20:46] #49 closed

[2016-10-16 05:44] kilirushi opened #50 "Support set barColor with random color."
Hi.
Your framework be very helpful. I have a issues need your support with set color barColor as photo bellow. You can help me?.
<img width="600" alt="68747470733a2f2f7261772e6769746875622e636f6d2f5068696c4a61792f4d5043686172742f6d61737465722f73637265656e73686f74732f73696d706c6564657369676e5f6261726368617274332e706e67" src="https://cloud.githubusercontent.com/assets/17327812/19415541/5a489c16-939d

[2016-10-17 22:07] aasatt commented on #31
@timbroder how were you able to get the dark line to stop at the rightmost point?

[2016-10-22 10:27] GZaccaroni opened #51 "Fatal issue with assert"
<Error>: Error: this application, or a library it uses, has passed an invalid numeric value (NaN, or not-a-number) to CoreGraphics API and this value is being ignored. Please fix this problem.

This line of code is crashing the app.
`                    assert (layer.zeroYPosition > 0);
`

[2016-10-22 10:44] GZaccaroni commented on #51
This happens when i try to put 0 as rangeMin and 10 as rangeMax

[2016-10-23 01:12] philackm commented on #51
Ah, damn. This bug was fixed in the pre Swift 3 version. It appears it has been resurrected during the conversion to Swift 3.

[2016-10-23 01:31] philackm commented on #51
Would you mind posting the code where you configure the graph view? I can't seem to reproduce it here.

[2016-10-26 12:17] kidsid-Ixigo opened #52 "Is there any way to make simple graph without scrolling which adjust "dataPointSpacing" based on graphview width?"
I want "dataPointSpacing" to calculate automatically based on the graph area width (No Scrolling). Is there is any way to achieve that with the current API's?

[2016-10-26 12:22] philackm commented on #52
This isn't provided by the API currently, no. The dataPointSpacing is used to determine how wide the graph should be.

Perhaps a (crappy) workaround could be setting the dataPointSpacing to be something like (graphFrameWidth - anyPadding) / numberOfDataPoints. The downside of this is that the more data points you have the closer together they are going to get and probably could become unreadable.

[2016-11-07 14:01] eliasturbay commented on #9
+1 it would be great if you add multi-line support

[2016-11-09 06:41] manolitowang commented on #52
Hi philackm, thanks for the awesome component. My question how can I set the size of graphview correctly? I tried to set the frame to a new view with what the size I want, but the size of graphview still doesn't show correctly. Thank you in advance for your help

[2016-11-10 00:02] cliftonlabrum commented on #36
I have the same question. Did you ever find a way to do this?

[2016-11-11 15:19] artemkalinovsky opened #54 "Segmentation fault 11 when inherit from ScrollableGraphView"
Hi,
I have `Command failed due to signal: Segmentation fault: 11` when trying to inherit from `ScrollableGraphView`:

[code]

[2016-11-18 00:15] cliftonlabrum commented on #35
Can you post your code? I have it working in a `UITableViewCell` just fine.

[2016-11-18 00:17] cliftonlabrum opened #55 "Simply Amazing"
I just wanted to say thank you to the developer behind this. This has been the best graph option I have ever come across. It's easy to implement, very attractive, easy for the user to interact with, and highly customizable. I also appreciate that the whole thing is in a single Swift file I can just drop in my project.

Thanks for all your hard work! This is fantastic! :)

[2016-11-18 00:17] cliftonlabrum commented on #55
Thanks again. 👍 💯

[2016-11-18 00:17] #55 closed

[2016-11-24 12:13] artemkalinovsky opened #57 "X-axis labels duplicating after some swipes on graph view"

[2016-11-24 12:14] artemkalinovsky commented on #57
Fixed in https://github.com/philackm/Scrollable-GraphView/pull/56

[2016-12-01 02:07] long-nguyen opened #58 "Horizontal line is overflow"
Using autolayout, I set the graphview 8px trailing and leading space to its view container. However the graph line is overflow. Please take a look at the picture: https://gyazo.com/4d0bfee262e9977983c568b8943c6d17

[2016-12-01 23:11] #26 closed

[2016-12-01 23:12] philackm commented on #27
Same as #22

[2016-12-01 23:12] #27 closed

[2016-12-01 23:20] philackm commented on #33
There is no scrolling animation, but the the variable 'direction' can be used to decide which side of the graph to start at.

Possible values:

    ScrollableGraphViewDirection.LeftToRight
    ScrollableGraphViewDirection.RightToLeft

For example, if it is set to .RightToLeft, the graph will start on the "right hand side" of the graph and the user will have to scroll towards the left.

[2016-12-01 23:20] #33 closed

[2016-12-01 23:22] #35 closed

[2016-12-01 23:23] philackm commented on #36
Not possible yet, but would be a good enhancement.

[2016-12-01 23:29] philackm commented on #42
There shouldn't be any vertical scrolling, you should be able to utilise the margins to achieve what you want.

[2016-12-01 23:30] philackm commented on #43
This is not supported at the moment unfortunately.

[2016-12-01 23:33] philackm commented on #44
Thank you. Unfortunately I don't know much about Objective C, maybe someone else can help out with that?

As for the multi-line graph, that is the same as #41, which I will keep track of there.

[2016-12-01 23:33] #44 closed

[2016-12-01 23:34] philackm commented on #46
This isn't supported at the moment.

[2016-12-01 23:39] philackm commented on #47
Hmmm. The way the graph works is from the bottom up, it finds the position of the data point with regards to min and max range. The bar layer was built on top of it and is treated as any other data point, so this might be a bit of a challenge to get the bars going down in case of negative and up in the case of positive.

[2016-12-01 23:41] philackm commented on #50
This is the same as #25. It shouldn't be too hard to support a colour for each data point, I'll keep track of it in #25 though.

[2016-12-01 23:41] #50 closed

[2016-12-01 23:48] philackm commented on #57
Amazing, thank you. I'll review and merge.

[2016-12-02 00:11] philackm commented on #40
After some consideration, I don't think there is a decent way to implement this with the graph in its current form, everything is based on scrolling left and right with the dependent variable on the y axis. This is a pretty big limitation to the component at the moment unfortunately.

[2016-12-02 00:11] #40 closed

[2016-12-03 13:10] #57 closed

[2016-12-08 02:24] ttoggaiman opened #60 "I have some question , can i display data value?"
i am using scrollable-graphview... so I think that is very beautiful chart
but i have to show data value... but scrollable graphview only show path...
how can i show data value each bar ... or each line datapoint ?

[2016-12-08 11:58] jkritikos commented on #9
+1 for me too!

[2016-12-21 10:05] Nandulucky opened #61 "How can I Give the values to X-Axis and Y-Axis?"
Hello, I'm using Scrollable-GraphView of DarkGraph. But I don't know to add the x-axis and y-axis values from my end I have dates in x-axis and float values in Y-axis in different arrays.
How can I give the 2 arrays to X-axis and Y-axis. Thanks!

[2016-12-26 10:50] praveenbroski opened #62 "Can we use more than one lines?"
I want to show more than one lines in the graph. Is it possible to show add two or more lines in the same graph? Please provide a solution.

[2016-12-26 12:05] gkaimakas commented on #62
"Please provide the solution ASAP." seems quite rude.

[2016-12-26 12:10] praveenbroski commented on #62
@gkaimakas does please means "Rude"? Removed it.

[2016-12-27 03:35] gangbusters commented on #41
I also +1 multiple values on a graph.  Let us know if you're working on it and/or need help with it @philackm!

[2016-12-28 02:36] leonardosalles opened #63 "Label on bar top"
Hi,

For first, thanks for this awesome code.

At this time I am facing a problem with labels and my question is if there is a way to add a value on top of the bar, for example I have a bar of month January and at the bottom I want to add "January" label and on top of this bar I want to add "R$ 100,00" as a String, is this possible? If yes, please someone can explain how?

PS: Please label it as Q

[2016-12-30 06:16] cliftonlabrum commented on #11
I would love this in my Mac app. Anyone get it working yet?

[2017-01-02 12:31] GabrielBor opened #64 "Use labels in data points"
I would like to put each label inside the points, but I'm having a bit of difficulty

[2017-01-04 12:50] GabrielBor opened #65 "Gradient on the graph line"
Hello guys,
Someone got or made a gradient on the chart line.

[2017-01-05 00:44] philackm commented on #63
This currently isn't possible, however I have created a branch with some changes which shows a quick hack to the code to make it happen. Check out the [diff here](https://github.com/philackm/Scrollable-GraphView/commit/25e0b8708eb0f52c7fe82e1c546c35a89939c999) on the branch toplabels. It would require a bit more work but it is a good start.

![screen shot 2017-01-05 at 11 31 35 am](https://cloud.g

[2017-01-05 00:46] philackm commented on #60
Same issue as #63

[2017-01-05 00:46] #60 closed

[2017-01-05 00:48] leonardosalles commented on #63
Great work, I will gonna work on that branch and will try to make the rest of the work also I will send a pull request when work has done ;)

[2017-01-05 00:52] philackm commented on #61
The values on the y-axis reference lines are generated automatically depending on the settings provided. (See the README).

You provide the labels for each point on the x-axis, and then the corresponding value for that point.

[code]

Please check out the README, it has a bunch of examples. There is also the example project you can load into Xcode and play around with it.

[2017-01-05 00:52] #61 closed

[2017-01-05 00:53] leonardosalles commented on #63
@philackm did you included a property to set top labels or you just get the bar value and set it as top label?

[2017-01-05 00:56] philackm commented on #63
I haven't done anything except adding another labelpool that creates a label at the y-value of the bar. (Actually all data points, it will show labels above all points on all graph types at the moment.)

[2017-01-05 00:58] philackm commented on #63
Additionally, lines 1259 and 1260 are where I calculate the intermediate bar (graph data point) values during animations. The labels would also have to be updated to those locations somehow.

[2017-01-05 00:59] philackm commented on #64
I'm not sure what you mean by "inside the points", do you mean something like #63?

[2017-01-05 01:00] philackm commented on #65
Unfortunately a gradient isn't supported on the graph line, only the **fill** for the graph supports a gradient at the moment.

[2017-01-05 03:10] natacodes opened #66 "Labels are being overridden with a little offset on each scroll"
Thanks for your great work! I noticed when scrolling back and forth many times you can see that the font of labels becomes wider and wider meaning the labels are being put on top again and again with a little offset.

![bug_when_scrolling](https://cloud.githubusercontent.com/assets/10250257/21667870/6ec78302-d2b1-11e6-80a7-348d603c84d8.gif)

[2017-01-05 03:21] natacodes commented on #66
Oh oops, just noticed it's been fixed in https://github.com/philackm/Scrollable-GraphView/commit/d901c8fd8969035f463a33f41386a7e21657220b. Closing!

[2017-01-05 03:21] #66 closed

[2017-01-05 12:13] GabrielBor commented on #64
Thanks :D Helped me a lot thanks :D

[2017-01-05 20:37] leonardosalles commented on #63
I will close this issue, your branch solved my problem, because I don't use animations, if you want to add it to animation system please go ahead but this is not the requirement of my issue. Finally, thanks for you code again.

[2017-01-05 20:37] #63 closed

[2017-01-10 20:05] MHX792 commented on #47
Any update on this?

[2017-01-15 17:34] damionvega opened #68 "If range is 1-3 numbers, reference values repeat"
Is there a way to supply static values without adding a data point?
<img width="375" alt="screenshot 2017-01-15 09 31 53" src="https://cloud.githubusercontent.com/assets/7221494/21964687/a025441e-db05-11e6-947b-cb683fdbddd8.png">

[2017-01-16 13:30] abara-kedavra commented on #64
Is it possible to make label Integer, without ".0"? For example "10" instead of "10.0"

[2017-01-22 14:14] sleepwalkerfx commented on #62
Is it possible to add more than one line at all, with this current version?

[2017-01-24 11:42] kanishkatn commented on #42
There was vertical scrolling in the container scrollview. I somehow disabled it. Please close the issue.

Thanks.

[2017-02-01 05:04] cliftonlabrum commented on #11
I've tried converting this to macOS, but I haven't gotten too far. I started by converting all instance of `UI***` to `NS***` but I still have 40 build errors. :)

Anyone having better luck or find something you like better?

[2017-02-11 09:03] Punith1234 commented on #41
@philackm it would be great if we can have a multi line option

[2017-02-14 09:18] abara-kedavra opened #70 "Bars above the reference lines"
Is it possible to make bars not under, but above the reference lines? What should I change?

[2017-03-03 07:24] hkapplet1 opened #71 "How do I add one more line to the same graph?"
How do I add one more line to the same graph?

I have added a new data set data2 and add this to the graph after data1 was set, but it fails.

`let data2: [Double] = [4, 8, 15, 16, 23, 42, 8, 15, 16, 23, 23, 42]`

`graphView.set(data: data1, withLabels: labels)`
`graphView.set(data: data2, withLabels: labels2)`

The last set of data (i.e. data2) is only available.

Do you have any suggestion or an

[2017-03-06 15:36] abear247 commented on #58
Try clipping to bounds to prevent the line overflow

[2017-03-07 06:20] smitaAcellere opened #72 "How to detect dot click from line graph and bar click from bar graph?"

[2017-03-07 06:38] smitaAcellere commented on #72
![screen shot 2017-03-07 at 12 05 14 pm](https://cloud.githubusercontent.com/assets/17287041/23644695/82fa3e16-032e-11e7-9ecf-d326b80ba7fe.png)
![screen shot 2017-03-07 at 12 05 52 pm](https://cloud.githubusercontent.com/assets/17287041/23644696/8357c680-032e-11e7-8cde-ddaa57f4d6d3.png)

I want to show labels like this designs

[2017-03-09 12:00] ShvetsJr commented on #72
Check this one https://github.com/philackm/Scrollable-GraphView/pull/69. After you change your code to this you can add you own custom views on dot click position.

[2017-03-09 12:04] ShvetsJr commented on #71
Please read other issues before open new one! Its not currently supported https://github.com/philackm/Scrollable-GraphView/issues/41.

[2017-03-11 22:48] pres commented on #51
I see the same problem.

I fixed it by adding:
[code]

[2017-03-16 02:06] croossin opened #73 "Delegate for color of each bar or point on graph"
Is there a way to set the color of each individual bar in a graph or each individual point in the line graph?

[2017-03-17 10:56] abara-kedavra commented on #70
Should I implement something here?

@objc public enum ScrollableGraphViewReferenceLineType : Int {
    case cover
    //case Edge // FUTURE: Implement
}

[2017-03-27 17:57] jamesktan commented on #41
One workaround that I've used here is to overlay 2 Scrollable Graph Views at the same position and then use the UIScrollViewDelegate method to scroll each plot (using the offset) like below:

[code]

[2017-03-28 06:42] Punith1234 commented on #41
@jamesktan  hey, Is't possible for you to share some more information or code on how were you able to solve this.. This will be very helpful for us

[2017-04-03 17:38] croossin commented on #73
^

[2017-04-03 21:40] jamesktan commented on #41
@Punith1234 Sure, but there's not much more to it other than:

[code]

Everything else is really just:
- Create a container view (plotView in the above)
- Create a graph and add it to the container
- Create the second graph, make the background transparent, set the axis and all to match the first graph
- Add the second graph above the first graph

[2017-04-04 02:44] Punith1234 commented on #41
@jamesktan  thanks a lot ..

[2017-04-05 22:27] davidhodge opened #75 "Reference line labels offset above reference lines"
Is there a way to make the reference line labels positioned at an offset above the reference lines? That would work a lot better visually for the graph I'm making.

[2017-04-07 04:39] najmul-csebuet opened #76 "Can we show the label on top of the bar instead of the y axis.. or show them in k like 10k instead of 10,000 if the numbers are that high?"

[2017-04-07 09:32] najmul-csebuet opened #77 "How to add axis title?"

[2017-04-10 02:27] najmul-csebuet opened #78 "Is it possible to color each bar with different color?"

[2017-04-24 13:41] ohserezha commented on #46
u can use bars

[code]

[2017-04-26 12:46] JeanetteMueller opened #79 "fatal error: Index out of range after Rotate the Device"
Crash in Line 857:
            `let firstDataPoint = graphPoints[activePointsInterval.lowerBound]`

[2017-04-27 17:54] manuel21 opened #80 "How to update the graph several times in the same screen?"
How to update the graph with differents datasource.

For example:
The first time I received 3 points to draw, then in the same screen I tap a button to request again but now I received 10 points to draw.

how is possible in the same screen reload the graph data?

[2017-04-28 18:16] manuel21 commented on #79
Do you already know how to fix it?

`  // left point only
            let leftPoint = graphPoints[leftDataPointIndex].location  //EXC_BAD_INSTRUCTION

            if shouldDrawBarLayer {
                let barWidthToRightOfX = locationOfTouchPoint.x + (barWidth / 2)
                if locationOfTouchPoint.y < leftPoint.y &&
                    barWidthToRightOfX > locationOfTouchPoint.x {

[2017-05-01 09:11] bravekingzhang opened #81 "[Bar chart] how can I set a different color when I touch on one bar ,and show titleview with custom defined,such as the picture underline"
![image](https://cloud.githubusercontent.com/assets/4476322/25576379/02f76282-2e91-11e7-8d1f-870ce3c55886.png)

[2017-05-01 09:14] bravekingzhang commented on #81
It sames that ,my question is how can I add click event to UIBezierPath area

[2017-05-01 20:38] mithunmathew1990 commented on #72
@smitaAcellere  checkout  #82

[2017-05-17 11:22] NunoAlexandre commented on #80
Hi @manuel21,

I'm attempting to do the same. Not sure how you moved on, but I did this:

``
 self.chartView.subviews.forEach{$0.setNeedsDisplay()}
 self.chartView.addSubview(graph)
``

where `chartView` is a container view where the `graph` (ScrollableGraphView) is under.

[2017-05-19 17:06] manuel21 commented on #80
Hi @NunoAlexandre thank you very much. It Works!

[2017-05-20 09:40] NunoAlexandre commented on #80
Cool, @manuel21! Note that you can also just do:

[code]

It depends on your context and what better fits your needs. Cheers!

[2017-06-02 07:23] EternalBlack commented on #12
+1
Carthage would be really usefull, otherwise I unfortunately wont be able to use it because of my teams policy :(

[2017-06-09 11:43] hemanthalluri opened #83 "Update dynamically fails. Graph fails to load with updated values.."
@IBOutlet var sc : ScrollableGraphView!

    var metaData : [Double] = []
    var metaString : [String] = []
    override func viewDidLoad() {
        super.viewDidLoad()

        let socket = SocketIOClient(socketURL: URL(string: "http://ios-test.us-east-1.elasticbeanstalk.com")!, config: [.log(true), .forcePolling(true), .nsp("/random")])

        socket.on("capture") {data, ack in
            f

[2017-06-12 22:11] #68 closed

[2017-06-26 18:48] hemanthalluri opened #85 "How to make graph auto move to end point"
How to make graph move  dynamically like health app graph.. ?

[2017-07-04 07:10] yakupad commented on #63
Thanks @philackm It makes a lot of work 👍 🥇 💯

[2017-07-09 10:11] philackm commented on #9
This has been added in version 4. 👍

[2017-07-09 10:11] #9 closed

[2017-07-09 10:12] philackm commented on #12
This has been added in version 4. 👍

[2017-07-09 10:12] #12 closed

[2017-07-09 10:14] philackm commented on #41
The multiple line section of this issue has been added in version 4. I will create a new issue for the touchability.

[2017-07-09 10:14] #41 closed

[2017-07-09 10:14] philackm commented on #62
This was added in version 4. 👍

[2017-07-09 10:14] #62 closed

[2017-07-09 10:15] #64 closed

[2017-07-09 10:15] philackm commented on #71
This was added in version 4 👍

[2017-07-09 10:15] #71 closed

[2017-07-09 10:16] philackm commented on #79
Should be fixed, can't replicate in version 4 when rotating the device. If this still occurs please reopen.

[2017-07-09 10:16] #79 closed

[2017-07-09 10:19] philackm commented on #80
Version 4 now supports reloading data, but not reloading with a different amount of data points. Once the number of points for the graph is set it cannot be changed. (That will hopefully be coming in the future.)

[2017-07-09 10:19] #80 closed

[2017-07-09 10:22] philackm commented on #83
This should now be possible with the new API for version 4. Use the `ScrollableGraphViewDataSource` and the `reload` method. This will work as long as you are reloading data for the same number of points.

[2017-07-09 10:22] #83 closed

[2017-07-09 10:22] philackm commented on #58
This should now be fixed.

[2017-07-09 10:22] #58 closed

[2017-07-09 10:29] philackm commented on #21
Due to the new API, shouldAutomaticallyDetectRange has been removed. (This is so the graph view no longer has to touch any data that it is not displaying. The graph view will only touch data that appears on the screen. This allows for better integration with things like `NSManagedObjectContext`)

The user of the component is now responsible for setting a correct range when not `shouldAdaptRange` i

[2017-07-09 10:29] #21 closed

[2017-07-09 10:31] philackm commented on #3
This is an old issue, but, this is not coming anytime soon unfortunately.

[2017-07-09 10:31] #3 closed

[2017-07-09 10:48] philackm commented on #54
I am able to subclass now in version 4 of the component.

[code]

This works for me. If anyone else experiences this please reopen and post the call stack please.

[2017-07-09 10:48] #54 closed

[2017-07-09 10:49] #42 closed

[2017-07-09 10:59] artemkalinovsky commented on #54
@philackm thanks!🙏

[2017-07-09 11:01] philackm commented on #85
I'm not too familiar with the health app, however there are two options of moving the graph to the end point.

1) You can start all the way to the right side of the graph (the last point) by setting the `ScrollablegraphView.direction` property on the graph.

2) `ScrollableGraphView` is a subclass of `UIScrollView`, any method of moving a `UIScrollView` should also work on the `ScrollableGraphView`

[2017-07-09 11:01] #85 closed

[2017-07-09 12:54] amirsiddi opened #86 "'identifier' (in plot.identifier) is inaccessible due to 'internal' protection level"
To confirm to ScrollableGraphViewDataSource protocol, when i add

`func value(forPlot plot: Plot, atIndex pointIndex: Int) -> Double `

to my code, Xcode gives the following error at plot.identifier :

Can anyone help what is going on?

[code]

[2017-07-09 13:57] amirsiddi commented on #86
While I was waiting for a reply to this, I went to Plot class and made the indentifier property public. This has solved the problem. I'll still wait to hear from @philackm on this.

[2017-07-09 13:58] philackm commented on #86
Ah, this is an issue with the access level of the variable. I've made a mistake and will fix it then push it through! Thank you for the submitting the issue.

[2017-07-09 14:13] philackm commented on #86
Should be fixed! Let me know if it is still not working.

[2017-07-09 14:13] #86 closed

[2017-07-10 04:03] iOS67 opened #87 "label on x axis is not updating"

[2017-07-10 04:04] iOS67 commented on #87
reference label is not changing while i updating the graph

[2017-07-10 04:55] philackm commented on #87
I'll take a look now.

[2017-07-10 05:01] philackm commented on #87
I've found the problem, I'll work on a fix for it now.

[2017-07-10 05:14] philackm commented on #87
Fixed! If you're using CocoaPods or Carthage, try using version 4.0.4.

[2017-07-10 05:14] #87 closed

[2017-07-11 03:13] iOS67 commented on #87
great 👍

[2017-07-11 03:18] iOS67 opened #88 "can you update label on top of the bar"
can you update label on top of the bar, it will be more convenient to see if you do so

[2017-07-11 04:13] #88 closed

[2017-07-11 05:35] jlubeck opened #89 "Support for Objective-C"
Hi! This looks like a great library! I was wondering if it can be used within an Objective-C project?
I tried importing it via CocoaPods, but although I can create a ScrollableGraphView, I can´t seem to create a LinePlot, so I can´t finish the setup.

Any ideas?

Thanks!

[2017-07-11 06:04] davidhodge commented on #89
It can be done. How'd you set up the view?

[2017-07-11 06:07] jlubeck commented on #89
I did this: 	self.graphView = [[ScrollableGraphView alloc] initWithFrame:self.viewChart.frame];

Which another problema is that the dataSource seems to get lost on the ObjectiveC initializer...

[2017-07-11 06:13] davidhodge commented on #89
Perhaps that's the issue. Are you expecting this to have a data source / delegate pattern? It's been a while since I've updated (so I haven't looked at the latest code), but when I did it I don't believe there was a data source kind of pattern. I set graph values with setData:withLabels:, for example.

Obviously, would be helpful to know what other setup you do. Maybe more code context would help.

[2017-07-11 06:16] philackm commented on #89
Hmm. The delegate/data source pattern is available in version 4 and higher. Have you specified version 4.0.4 in your podfile? I'll try it out in an objective c program this evening and get back to you with whether or not I'm experiencing the same thing.

[2017-07-11 06:19] devraj opened #90 "Update datasource to reference the label(forPlot plot: Plot, atIndex pointIndex: Int) -> String not label(atIndex pointIndex: Int) -> String"
XCode complains that this function is required by the data source
`func label(atIndex pointIndex: Int) -> String`

which is called when it wants the label information

the example references
`func label(forPlot plot: Plot, atIndex pointIndex: Int) -> String`

[2017-07-11 06:23] davidhodge commented on #89
That makes sense. I moved away from using Cocoapods for this because I had to make some hacky changes.

[2017-07-11 06:24] jlubeck commented on #89
Hey guys, thanks for the quick input. Like I mentioned originally, creating the ScrollableGraphView object itself doesn't seem to be the main issue. The problem is that I can´t seem to create a PlotLine. I get error that the class doesn't exist. Seems like those files are not being generated on the Bridge file or something...

@philackm I did specify version 4.0.4. Had to do it per the commit hash

[2017-07-11 06:26] jlubeck commented on #89
A very stripped down example on how to initialize everything in ObjC would be awesome!

[2017-07-11 08:12] philackm commented on #89
Okay so I had a look, I had not added the `@objc` tags on the `Plot` classes and the `ScrollableGraphViewDataSource` protocol as I was testing solely in Swift. If you take a look at the `objc` branch, you will see a version that includes them and the graph loads properly in objective c projects.

![screen shot 2017-07-11 at 5 59 25 pm](https://user-images.githubusercontent.com/2552214/28057496-b84

[2017-07-11 15:37] philackm commented on #90
It seems I had forgotten to update APIv4.md.

I realised it only makes sense to have a single label for each point on the _graph_, the labels are the same no matter how many _plots_ are on the graph. I ended up removing the `forPlot plot: Plot` parameter from the `ScrollableGraphViewDataSource` protocol. Now the graph will ask the data source for a label for each point index that comes into view,

[2017-07-11 23:48] #90 closed

[2017-07-17 03:52] harrison0723 opened #92 "M_PI to .pi"
![scrollablegraphview_swift](https://user-images.githubusercontent.com/7886751/28255164-4da28d20-6ae6-11e7-9d9c-9bc1b2e8ddc2.png)

[2017-07-17 07:08] harrison0723 commented on #92
Since I pod installed it today I assumed it would be in the latest version. Turned out it wasn't. Manually updating it to 4.+ got rid of that.

[2017-07-17 07:08] #92 closed

[2017-07-20 18:49] rawmean opened #93 "Numbers (not strings) on x-axis"
I have a dataset {(x, y)} where both x and y are numbers.  `ScrollableGraphView` expects the x-axis to be strings and it plots them at equal distances.
When x is a number, this equal distance assumption often does not hold and changes the shape of the graph.
Can you please add support for this case such that points are plotted correctly (i.e., according to the x value and not at equal distances)?

[2017-07-21 12:21] shrikanthananth opened #94 "How to have two Y axis with different y axis labels"
How to two plots with two Y axis (One y axis ref for each plot), one y axis on left and one on the right ?

[2017-07-22 06:42] devraj commented on #78
@philackm we would be willing to sponsor this feature :-)

[2017-07-25 17:57] tommyle opened #96 "EXC_BAD_ACCESS"
I'm getting EXC_BAD_ACCESS when trying to run the example code with CocoaPods. If I run the example with the included source files it works fine but when I use cocoapods I get a EXC_BAD_ACCESS when setting the graphView.dataSource. Is this an issue with 4.0.4?

<img width="896" alt="screen shot 2017-07-25 at 1 55 54 pm" src="https://user-images.githubusercontent.com/656538/28586281-3c6144c8-7141-1

[2017-07-25 20:28] tommyle commented on #96
When using cocoapods you need to set the Module to ScrollableGraphView
<img width="331" alt="screen shot 2017-07-25 at 4 26 36 pm" src="https://user-images.githubusercontent.com/656538/28592165-21954828-7156-11e7-86c7-47901558749a.png">

[2017-08-03 04:28] karsvaniersel opened #97 "y-axis Title"
Hey,

I'm trying to give the y-axis certain labels. For example:
y = 0.1 you have a label saying Light
y = 0.4 you have a label saying Medium and for
y = 1 you have a label saying Heavy.
(as seen on here: [](http://imgur.com/a/Qfvky))

Is this currently not possible or am I doing something wrong?

[2017-08-10 10:23] AbidSana commented on #96
I have the same problem. Did you ever find a way to resolve this?

[2017-08-10 15:10] tommyle commented on #96
@AbidSana Yes, please see the screen shot i posted. You need to set the Module to ScrollableGraphView.

[2017-08-11 05:14] tommyle opened #99 "Multiple plots on the same chart"
Is it possible to create a chart like this?
The blue plot has values for [0, 1, 2, 3, 4, 5, 6, 7]
The red plot has values for [0, 2, 4, 6]

How can I return no value for red at index 1, 3, 5?

![screen shot 2017-08-11 at 1 12 33 am](https://user-images.githubusercontent.com/656538/29202042-2c90acde-7e32-11e7-8159-cf95312f0e66.png)

[2017-08-14 10:51] AbidSana commented on #96
Yes, I set the Module to ScrollableGraphView like in your screen shot, but the exception still persists.

[2017-08-24 09:36] MacKaSL opened #100 "GraphView Title?"
Is it possible to set a title for the graph view?

[2017-08-30 14:12] iKisliy commented on #100
Easiest way — add subview 🤷🏼‍♂️

[2017-09-01 08:06] davamp opened #101 "Help!!! (Carthage) Module file's minimum deployment target is ios10.3 v10.3"

[2017-09-06 06:44] hsandhu opened #102 "Fill Starting at 0 with Reference Lines"
After enabling reference lines, the x-axis labels are 'filled' (see attachement).

Is it possible to shift the fill up to zero?
![screen shot 2017-09-05 at 11 44 26 pm](https://user-images.githubusercontent.com/122918/30097794-33511ff6-9294-11e7-8d14-0a99d3ed9050.png)

[2017-09-06 21:12] Neilfau opened #103 "numberOfPoints"
Hi,

Is it possible to have a different number of points per plot? I noticed in the documentation you show this function:

`numberOfPoints(forPlot plot: Plot) -> Int`

Yet the protocol will only let me use this:

`numberOfPoints() -> Int`

Has this function been removed?

Thanks,

Neil

[2017-09-07 03:29] hao1108 opened #104 "if is possible change numberOfItems when I want ro reload graph ? After that I want to change the item count on the x-axis"

[2017-09-08 04:45] MacKaSL opened #105 "Reload data crash"
when new data is added to the array and reload the graph view, it crashes "index out of bound exception". I update the array before calling reload method. And also i did debug this, `numberOfPoints` returns correct value and seems like `value(forPlot plot: Plot, atIndex pointIndex: Int) -> Double` is not getting updated?

[2017-09-08 04:48] MacKaSL commented on #100
yeah.. but i was hoping you could add inspectable attribute for the title to just make it much more easier. but a workaround is to add a subview also works. Thanks.

[2017-09-08 09:48] iKisliy commented on #103
Due to ScrollableGraphViewDataSource it's only non-argument function with comment
`// This now forces the same number of points in each plot.`
Personally I suggest use separate models for plots

[2017-09-12 09:45] RiuHDuo commented on #105
[code]

i think we need re-write reload fuction

[2017-09-14 02:08] coreyasmith35 opened #106 "Remove and configure a new graph"
How could I reload the graph with a different number of data points? I know I will haft to reconfigure the graph from scratch but not sure how to reset the data. Thanks.

[2017-09-15 08:57] RiuHDuo opened #107 "leaks"
ScrollableGraphView:dataSource and Plot's delegate:ScrollableGraphViewDrawingDelegate .they made leaks. Change strong  to weak to resolve leaks

[2017-09-16 14:23] MacKaSL commented on #105
I'm using this library in my ongoing project but I'm stuck that I can't release this on AppStore due to this crash. Please I hope you will be able to solve this. Thanks for the response.. :)

[2017-09-17 07:10] philackm commented on #105
This is not supported. Feel free to implement it and submit a pull request.

[2017-09-17 07:10] #105 closed

[2017-09-21 18:29] SergioKoko opened #108 "Support for Swift 4"
Hi everyone.
I install xcode 9 and a lot of errors are showing. Is there any update for swift 4?

Thank you
Regards

[2017-09-22 14:17] #106 closed

[2017-09-25 18:32] daisyramos317 opened #109 "Spacing Between Reference Line Plot"
Where can I access the spacing between each reference line? Or set a fixed spacing between each reference line drawn?

Thanks! I know this isn't an issue so you can move to question label

[2017-09-25 19:14] daisyramos317 commented on #109
nevermind found my answer by reading the docs :)

[2017-09-25 19:14] #109 closed

[2017-09-26 13:11] barnaclejive commented on #108
I've submitted a PR. The changes are pretty minor. I've forked it for myself and will point my podfile at my repo until @philackm does an official update.

pod 'ScrollableGraphView', :git => 'https://github.com/barnaclejive/ScrollableGraphView', :branch => 'master'

[2017-09-29 10:05] syedrazackimran opened #111 "Datasource Not Calling"
Hi
I tried to implement your file to my project! unexpectedly I'm facing some issues! kindly help me out!
<img width="255" alt="screen shot 2017-09-29 at 4 58 41 pm" src="https://user-images.githubusercontent.com/15051045/31011218-ab9a452c-a537-11e7-88a1-70011e7f08ad.png">

above module, I changed module to "ScrollableGraphView" with the crash is run but data source method not calling! I tried to

[2017-10-10 14:10] AbidSana commented on #111
I have the same problem. Did anyone find a way to resolve this?
Any help would be appreciated :)

[2017-10-15 11:57] Jornan opened #113 "Plot starts at zero on left side"
When I create a graph there is a straight line drawn from the left most visible data point to a point at zero right outside the bounds of the view. The right side is fine with no issues. Anyone else seing this issue too? See screenshots for three examples.
![grapherror](https://user-images.githubusercontent.com/3278797/31584551-be84df5a-b1b0-11e7-8520-c90429c4d3c5.jpg)

[2017-11-10 17:30] escully27 opened #114 "Get index/value@index on graph tap"

[2017-11-14 15:26] ohserezha commented on #113
yes. it actually starts with zero for any sequence of values. sorry, i don't actually remember how i resolved it, but u should look at leftMostPointPadding and other offsets

[2017-11-17 06:13] arerbol opened #115 "How can i add Double values to graph?"

[2017-12-14 15:53] frelei opened #119 "y-axis displaying repeated values"
I am trying to plot those points: [2.19325733184814, 0.883669853210449, 0.83063006401062, 0.787178874015808, 0.774782657623291]  and I am getting the result below. The y-axis repeat the values and I am using set the variable shouldAdaptRange to true. Is there a way to make the y-axis display a better range?

<img width="375" alt="screen shot 2017-12-14 at 13 47 35" src="https://user-images.githubu

[2017-12-19 00:08] MHX792 commented on #64
@philackm is this really implemented in version 4? I just downloaded the demo project and in `createBarGraph` I added `referenceLines.shouldShowLabels = true` which unfortunately did nothing.

[2017-12-22 18:55] delox commented on #114
I would like to know about the dev-recommended way of implementing this feature

Thanks

[2017-12-24 12:48] MHX792 opened #121 "How to add only reference line for showing a limit?"
How to accomplish something like this where the refence line shows a limit:

![screen shot 2017-12-24 at 13 47 48](https://user-images.githubusercontent.com/12123471/34326582-0e46064a-e8b1-11e7-8ae1-bd262ffa775f.png)

[2017-12-30 14:15] eddielee6 commented on #111
Looks fine, I have both class and module set to `ScrollableGraphView`. Check how the outlets are wired up.

[2018-01-25 17:26] wanglouin1990925 commented on #113
same issue for me. is there any solution for this issue?

[2018-02-04 20:38] AAChartModel opened #122 "Amazing animations!!!"

[2018-02-09 17:32] mrh-is opened #123 "Multiple charts in same collection view copy each other's data"
I am trying to embed a small graph in a`UICollectionViewCell`. If there's only one cell, everything works great. 👍

But if I have multiple cells, the graphs somehow seem to share data. 🤔 When I call `set(data:withLabels:)` on each of them (I'm still using v3.1.0, maybe this is fixed by v4?), any individual graph may use any data set. For example, two graphs could both have the first data set, or b

[2018-02-09 20:07] mrh-is commented on #123
Debugging update: This appears to be related to the collection view's cell dequeueing. In my test case, I have two cells with graphs, which are assigned to different index paths at different times (while my data is downloading and updating the model). The rest of the cells' subview appear to be unaffected by this issue.

Maybe something about the way the graphs are drawing? `CADisplayLink` maybe?

[2018-02-18 19:03] imburakoner opened #124 "Index out of range error"
I'm getting index out of range error  at setPlotPointPositions function . That error only occure at iphone 5s. Dou you have any idea. How can i fix that

[2018-02-26 22:38] woaibujian commented on #124
Same issue here.

[2018-03-03 00:41] sandeepwalia95 commented on #80
Where did you guys call these? I keep crashing due to the number of data points increasing. Any help is very much appreciated thanks.

[2018-03-15 09:23] prasads opened #125 "Unable to represent Axis Tittles"
Unable to represent which data belong to Y axis and X axis.
Ex : No.of students on below X axis...
Ex: Attendence left side of Y axis

[2018-03-19 06:24] jayjohnchiong opened #126 "Dot Plot is not on the line"
![screen shot 2018-03-19 at 2 22 12 pm](https://user-images.githubusercontent.com/36146249/37580910-1581ac80-2b81-11e8-9a4e-89e97f048344.png)

As you can see, the dotPlot are on the bottom and not on the line. The codes i'm using is the one from
here https://github.com/philackm/ScrollableGraphView#customisation-examples

[2018-03-19 06:29] jayjohnchiong commented on #126
Nevermind, I forgot to add the dotPlotData

[2018-03-19 06:29] #126 closed

[2018-03-19 06:36] jayjohnchiong opened #127 "Image as Dot"
Is their a way that we can use image as a dot?

[2018-04-04 11:31] ssaylanc opened #128 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1"
After updating XCode 9.3 I started getting this error.

[2018-04-21 14:07] iNicson opened #129 "Can we expect the a pinch to zoom functionality in the charts"
When there is a pinch in or pinch out event performed on the chart  then the chart x and y axis to be scaled or zoomed.

[2018-04-23 23:30] jeffreality commented on #113
It's because of the fill. Try it with `plot.shouldFill = false` - you will lose the color under your graph, but it will fix that particular issue. I just figured this out myself a few minutes ago.

[2018-05-01 04:15] timusus commented on #108
Can be closed thanks to #118

[2018-05-04 02:01] timusus opened #130 "Graph points & reference lines not updated beyond viewport"
Hi Phil,

Great work on this library, I'm glad I finally have a chance to use it!

I've been debugging an issue where the graph isn't drawing the reference lines, labels, or plot data beyond the initial viewport.

Here, I have a graph with 25 data points:

![1_03](https://user-images.githubusercontent.com/4422616/39610199-effef212-4f91-11e8-96ab-39a15eae9ec0.png)

The first 15 are displayed perfec

[2018-05-04 02:11] philackm commented on #130
Ah, damn. Knew I should have tested a bit more after making those changes.

Is this just a full screen graph? Does the same occur when you run the example Xcode project? (https://github.com/philackm/ScrollableGraphView/tree/master/graphview_example_code)

[2018-05-04 02:13] timusus commented on #130
This particular `ScrollableGraphView` is nested inside a `UICollectionViewCell` belonging to a vertical `UICollectionView`. I haven't tested the example, I'll try it out and let you know.

[2018-05-04 02:28] philackm commented on #130
Hmmmm. Are the UICollectionViewCells being reused? It may be an issue where they are going in and out of scope.

I'll leave this open for now and investigate embedding in things like table views and collection views. I imagine the weak reference is letting the delegate reference become nil somewhere along the line.

(You could check this for me by having a look at the datasource delegate and check

[2018-05-04 03:57] timusus commented on #130
The `UICollectionViewCells` are technically available for reuse, but this issue occurs when I'm only displaying one cell.

I can confirm that the `datasource delegate` is not being queried for those data points.

[2018-05-04 09:04] philackm commented on #129
I don't currently have any plans to implement this feature, it would be quite a lot of work. I'm definitely happy to accept pull requests though.

[2018-05-04 09:04] #129 closed

[2018-05-04 09:05] philackm commented on #128
Try with the latest version and reopen with a few more details if you are still getting the same error.

[2018-05-04 09:05] #128 closed

[2018-05-04 09:11] philackm commented on #127
This would be a good feature, but I don't have any plans to implement it at the moment. You can however specify your own shape via the `customDataPointPath` property.

I'm always happy to accept pull requests though.

[2018-05-04 09:11] #127 closed

[2018-05-04 09:12] philackm commented on #122
Thanks @AAChartModel, appreciate ya!

[2018-05-04 09:12] #122 closed

[2018-05-04 09:26] philackm commented on #125
This is not supported in the current version, however, you could work around it by adding your own labels as subviews.

[2018-05-04 09:26] #125 closed

[2018-05-04 09:27] philackm commented on #124
Sorry for the late reply, if either of you are still around (or care), I'll take a look at this on the 5s simulator. What version of iOS was this for?

[2018-05-04 09:30] philackm commented on #121
This is not implemented in the current version. However it seems like a really good feature and if anyone is willing, I'm happy to review and merge pull requests.

[2018-05-04 09:30] #121 closed

[2018-05-04 23:14] johnallen24 opened #131 "Dynamically Adding New Values"
Hey
Is it possible to dynamically add new values to the graph and have the graph scroll along as the values are added?

[2018-05-05 18:41] wildthink opened #132 "Can't offset a Plot"
I'd like to have 2 bar graphs side by side. I tried changing the offset of one but that didn't work.
How can this be done?
Thanks.

[2018-05-09 08:11] philackm commented on #132
This currently isn't possible to do just with a single instance of the component.

You could perhaps create another instance and put the views side by side?

[2018-05-09 08:11] #132 closed

[2018-05-09 08:12] philackm commented on #131
Whilst this would be a good feature, it is currently not supported. Sorry!

[2018-05-09 08:12] #131 closed

[2018-05-09 08:14] philackm commented on #119
This can be solved by setting `referenceLineNumberOfDecimalPlaces` on the `ReferenceLines`.

[2018-05-09 08:14] #119 closed

[2018-05-09 08:16] philackm commented on #115
This can be solved by setting `referenceLineNumberOfDecimalPlaces` on the `ReferenceLines` instance.

[2018-05-09 08:16] #115 closed

[2018-05-09 08:17] philackm commented on #6
Closing as will not implement in forseeable future.

[2018-05-09 08:17] #6 closed

[2018-05-09 08:19] philackm commented on #11
Closing as will not implement in forseeable future.

[2018-05-09 08:19] #11 closed

[2018-05-09 08:25] philackm commented on #73
For future reference for anyone else, this is not currently supported. As always, pull requests are welcome.

[2018-05-09 08:25] #73 closed

[2018-05-09 08:27] philackm commented on #108
Has been implemented.

[2018-05-09 08:27] #108 closed

[2018-05-09 08:28] #107 closed

[2018-05-09 08:31] #65 closed

[2018-05-09 08:37] philackm opened #133 "Implement Touchability"
Implement a delegate method that reports when touches occur for the newest version.

Pass the location in the graph view where the touch occurred (in the ScrollableGraphView's space).
Pass the location of the point on the graph (in the ScrollableGraphView's space).
Pass the x and y values of that point.

This should allow users to respond to these touches and add do whatever they see fit (show oth

[2018-05-09 08:39] philackm commented on #77
For future reference, I would recommend adding your own `UILabel`s where they are needed. I think putting the axis titles into the component will restrict more people than help them. By the user handling the labels manually, they can achieve pretty much any layout they want.

[2018-05-09 08:39] #77 closed

[2018-05-09 08:40] philackm commented on #72
Consolidating to #133

[2018-05-09 08:40] #72 closed

[2018-05-09 08:48] philackm commented on #70
For future reference if anyone else is having the same query, you would have to change the order of the `drawingView` and the `referenceLineView`. If this was attached to some boolean `referenceLinesBelowPlots` and adjusted accordingly, could be a good pull request.

[2018-05-09 08:48] #70 closed

[2018-05-09 08:51] philackm opened #134 "Reference Line Label Customisation"
- [ ] Add offsets for x-axis labels
- [ ] Add offsets for y-axis labels

[2018-05-09 08:52] philackm commented on #75
Consolidating into #134

[2018-05-09 08:52] #75 closed

[2018-05-09 08:56] #101 closed

[2018-05-09 08:58] #89 closed

[2018-05-09 09:00] philackm opened #135 "More Graph Examples"
Add more graph examples and usages in a variety of situations.

Include these in the example project to help people start off, showing how to use often overlooked properties. (Example `referenceLineNumberOfDecimalPlaces`)

[2018-05-11 08:55] philackm commented on #123
I haven't been able to reproduce this using V4. If anyone can recreate this, please upload a small project with it occurring and we can debug further.

[2018-05-11 08:55] #123 closed

[2018-05-11 08:58] philackm opened #136 "Reloading the graph with a different number of points"
Need to determine the feasibility of reloading the graph with a different number of points.

[2018-05-11 08:59] philackm commented on #104
Consolidating this into #136

[2018-05-11 08:59] #104 closed

[2018-05-14 12:55] beraybentesen commented on #124
Problem occur when I use reload method after adding new items into data source.

[2018-05-15 00:11] beraybentesen commented on #131
I believe that this would be the most significant feature, any estimated date for that ?

[2018-05-15 02:50] philackm commented on #131
@beraybentesen It would definitely be great to have. However I have a feeling it will be quite complex and difficult to implement. I'm going to investigate the possibility of adding this feature, you can keep track of the progress here: #136 

However, I can only work in this when I have free time between work and study, I don't have any good estimates as to when it would be implemented.

[2018-05-15 08:07] Neilfau opened #137 "Is it possible to load graph with no animations?"
Is it possible to instantly load the graph rather than using the animations? Im using the graphs with a large dataset and it takes too long to animate the graph... ive tried setting .shouldAnimateOnStartup to false but then nothing loads.

[2018-05-15 09:15] philackm commented on #137
This is definitely possible. Take a look at the example project, in particular you will want to check out this graph: https://github.com/philackm/ScrollableGraphView/blob/master/graphview_example_code/GraphView/ViewController.swift#L350

This graph loads the points instantly without using the animations. Check that you've set a suitable range using rangeMin and rangeMax as well.

[2018-05-15 09:19] philackm commented on #124
Currently reloading the graph with a different number of points will cause the graph to error. Investigating this in #136

[2018-05-15 09:19] #124 closed

[2018-05-15 09:26] Neilfau commented on #137
Ok great thank you! Do I have to set the range manually then instead of using shouldAdaptRange?

[2018-05-15 11:04] philackm commented on #137
Okay, yep. I just looked into this and there is a bug.

To do what you want you will need to specify the range manually. Something like:

[code]

You **should** be able to automatically detect the range AND have no animations by doing this:

[code]

However, by setting `shouldAnimateOnStartup` to `false` whilst `shouldAdaptRange` is `true` results in the points on the graph not having their correc

[2018-05-15 11:28] philackm commented on #113
As @jeffreality has stated, this is occurring because of the fill underneath the line. This was made as a design decision as for what I needed it looked slightly better.

We would need to change the way the path is generated depending on some property. For example, instead of extending the path down to "zero" at the start, we would want to draw the path straight down. See the image as an example:

[2018-05-15 11:30] philackm commented on #102
Moving to #134

[2018-05-15 11:30] #102 closed

[2018-05-15 11:35] philackm commented on #100
I prefer to leave this to the user. No title I add will satisfy all designs (location, styling, etc). The user can add their own views wherever they please :)

[2018-05-15 11:35] #100 closed

[2018-05-15 11:49] beraybentesen opened #138 "Removing Plot"
Addition to addPlot method, there should be removePlot (e.g.) method to remove selected Plot data

[2018-05-25 18:38] alpascual opened #139 "Adding labels by the points as legends"
I cannot add a label by the spike or the curve on the chart. Any ideas or improvements coming?

[2018-06-20 17:59] fuzunspm opened #140 "can't use MultiPlotGraphTwo"
The example code is working fine but i need to insert values from 2 sql queries. i'm appending double values to both PlotData but it's always out of index on value function.

[2018-06-20 18:16] #140 closed

[2018-06-20 18:16] fuzunspm commented on #140
turned out to be a typo

[2018-06-20 18:56] fuzunspm opened #141 "is it possible to add multiple graph frames top-bottom"
I want to add 2 graph frames top-bottom on today extension widget. Is that possible and if so could you please guide me a little bit?

[2018-06-27 11:31] TOrnelas commented on #136
Can we, manually, as an alternative, remove all plots from the chart and add them all again (with the new data set)? If so, how can we do it?

[2018-07-14 10:31] weiran commented on #121
You can achieve something like this already by adding another reference line with an absolute position.

[2018-07-14 13:10] weiran commented on #139
This doesn't solve your problem, but you can probably do something similar with my PR to add plot labels: https://github.com/philackm/ScrollableGraphView/pull/143

[2018-07-30 06:57] ebrienza commented on #136
Hi @TOrnelas, have you found a solution for remove all plots and build a new graph with a different number of points?
I use an UISegmentedController for switch the graph in 4 different versions (day - week - month - year like apple health app). One solution should be create 4 ScrollableGraphView inside an UIScrollView and change the page with the UISegmentesController. But I don't like this soluti

[2018-07-30 08:37] TOrnelas commented on #136
Hey @ebrienza , the solution I found was ugly, but worked for me. So, I add 1 more data point into the data set with negative value (so it doesn't show up in the chart). Then, when it's time, I update that negative value to a positive one (the real value) and the data point shows up in the chart then, with no crash, because it was already on the chart to begin with xD

First thing, I had to remove

[2018-08-22 02:29] ronsrebro opened #145 "Show latest values on startup"
First, amazing work on this.

What would be super helpful is to be able to scroll the graph all the way to the end on startup.

I've added a variable shouldStartAtEnd (need a better name)

and then added this code to the setup function

[code]
right before
[code]

[2018-08-22 16:37] Chris-Perkins commented on #51
I ran into this issue as well and the above fix did not fix my issue. My issue was caused by having the ScrollableGraphView's `.frame` be equal to `.zero` (I'm working with autolayout constraints, so the frame was not yet set at the time of graphing).

[2018-09-05 05:28] Leedongjin-nbt opened #146 "Graphview_example_ib have Bug code.."
Hi

The graphview_example_ib Project default langauge is swift 3.1.
but code made by Swift 4.1.

please Xcode Project Setting, To be changing.

[2018-09-12 08:28] ebrienza opened #147 "More than one graph in the same UIView"
Hi guys,

There is a problem...
I made an UIView with an UISegmentedController used for change the page of an UIScrollView.
The scrollView has 4 pages with one graph for each page (4 object of ScrollableGraphView).
Each graph has different labels and differents number of points.

My problem is:
How can I recognize graph1, graph2, graph3 and graph4 in the methods called by ScrollableGraphViewDataSo

[2018-09-15 09:39] #147 closed

[2018-09-20 20:20] jnevesjunior opened #149 "Not working on swift 4.2"
Hi,

The ScrollableGraphView is not working on swift 4.2 and this is preventing me update my app to iOS 12

Thanks,
José

[2018-09-26 14:32] jnevesjunior commented on #149
@philackm any updates?

[2018-10-02 14:04] jnevesjunior commented on #149
I'll be forced to remove from my project, I can't wait more without any answer.
By

[2018-10-03 09:28] elilabes commented on #149
This is also broken for me. @philackm

[2018-10-03 09:35] philackm commented on #149
I will fix this tonight.

For future reference, if someone has already fixed it and submitted a pull request (in this case it seems like a few people have), you can point directly to that commit in your cocoapod file without having to wait for me. (Be sure to switch it back when this repo has been updated however.) See: https://stackoverflow.com/questions/39261018/is-there-a-way-to-use-a-pull-requ

[2018-10-03 11:39] philackm commented on #149
This is now fixed. If you're using cocoapods, 4.0.6 should be available!

[2018-10-03 11:39] #149 closed

[2018-10-03 11:40] philackm commented on #146
Should be fixed with the recent migration to Swift 4.2

[2018-10-03 11:40] #146 closed

[2018-10-03 16:28] jnevesjunior commented on #149
Thanks

[2018-10-09 05:44] Aanchal96 commented on #76
Hey, did you find a solution to this? I also want the labels to be on the top of the graph rather than on y-axis.

[2018-10-10 13:37] victorkiver opened #152 "Does graph view support negative Y values?"
![sgv](https://user-images.githubusercontent.com/9625146/46740134-c4057a00-ccaa-11e8-94b7-d5808b6c512a.png)

[2018-10-12 12:48] Indolia opened #153 "Dots Value"
Hi, How can I show the value  top of dots or bars, please update me about it asap.
And some time graph not change based on it's  updated values, also check it.

Thanks :- Indolia

[2018-10-12 12:50] Indolia commented on #76
Hi, is any updated abut this??

[2018-10-23 09:29] patLoeber commented on #145
Hi,
why don't you just set:
graphView.direction =ScrollableGraphViewDirection.rightToLeft

[2018-10-23 10:06] patLoeber opened #154 "bug: no graph drawn on left side for small dataPointSpacing"
For small dataPointSpacing, the graph is not drawn on the left side. It only draws when scrolled to the left, which then produces an ugly jumping.

This is reproduced in your example project with:
numberOfDataItems = 60 and in createDarkGraph:
linePlot.shouldFill = false
graphView.dataPointSpacing = 10

If the fill is set to true, the graph is drawn, but also creates an ugly jumping behaviour whil

[2018-10-23 10:25] richardboss opened #155 "Creating multiple lines with different X's"
Is there a way to change the X value of the lines (starting point).
I want to put multiple lines on the graph and they should have different X values but I have not been able to do that yet. When drawing multiple lines I get this:

![multiple 0 x](https://user-images.githubusercontent.com/36633850/47354269-feb5dc00-d6c6-11e8-98da-ef788520ec8c.PNG)

But what I would like to have is this:
![multiple

[2018-10-29 11:08] alejandroluengo opened #156 "Can I do this"
Hi there

I need to make the graph draw all points inside the view (no scroll needed)

Is that possible?

<img width="408" alt="captura de pantalla 2018-10-29 a las 12 06 58" src="https://user-images.githubusercontent.com/3824276/47646118-33b4a980-db73-11e8-97b4-eb916e0278b2.png">

Thanks for the help :)

[2018-11-23 02:56] melwan opened #158 "Is it possible to centre the graph when no scrolling is required?"
Thanks a lot for this great library.

I have a graphView with multiple graphs, but my data points (x-axis) are only 5.
Is it possible in such a case to centre the graph, taking into consideration screen sizes?
The uploaded screenshot shows how the graph is left-aligned currently.

I'm using the IB option. I added the graphView inside a UIView "masterView" and set constraints to that masterView. Ev

[2018-11-30 18:02] kocharyanvahe opened #159 "Is it possible to make some gaps on a same line plot?"
Dear Phillip,

1. I'd like to know is it possible to make an empty plots for some points?
2. Also, I'd like to know can I colorise the same line plot. (E.g. starting with red colour then the same line will change it's colour to black colour or clear colour)?

Like here in photo
![graph](https://user-images.githubusercontent.com/33868040/49306450-e8c3e400-f4da-11e8-8c91-55daa0a4584e.png)

Thanks in

[2018-12-01 12:36] masterrr commented on #149
I believe this is not fixed for Carthage?

`	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/tk/Projects/Ketones/Carthage/Checkouts/ScrollableGraphView/carthage/ScrollableGraphView/ScrollableGraphView.xcodeproj -scheme ScrollableGraphView -configuration Release -derivedDataPath /Users/tk/Library/Caches/org.carthage.CarthageKit/DerivedData/10.0_10A255/ScrollableGraphView/4

[2018-12-11 05:04] #158 closed, assigned to nobody

[2018-12-25 03:53] JeanPierreFig opened #161 "Use of undeclared type 'CAShapeLayerLineJoin'"
I'm getting this error Use of undeclared type 'CAShapeLayerLineJoin'

[2019-01-09 10:53] ahmedAlmasri opened #162 "remove line before label"
How to remove this line

![simple](https://user-images.githubusercontent.com/14888785/50894864-13c02280-140d-11e9-9ea6-ffb53709aa0d.png)

[2019-01-10 12:48] muzoman opened #163 "Bar Chart with individual columns having varying widths?"
Is this possible with this library?

[2019-01-23 01:32] doddyth commented on #133
Hi @philackm, any update on this one? thanks

[2019-02-20 09:28] khush004 opened #165 "unable to set dot on multiple graph"
Thank you for this awesome library but I am facing some issue with adding dot on graph

I want something like this
![screen shot 2019-02-20 at 2 56 07 pm](https://user-images.githubusercontent.com/29862624/53080889-adf0ab80-351f-11e9-8583-e7ebc928258e.png)

and I have used following code for adding dots on graph
achieving this

    @IBOutlet var viewGraph: UIView!

    var arrPink = [1, 2, 3, 1, 2

[2019-02-21 04:51] NileshKalathiya commented on #136
everytime you can create new instance of graph view

if viewGraph != nil {
            viewGraph.removeFromSuperview()
        }

viewMainGraph.subviews.forEach({ $0.removeFromSuperview() })

viewGraph = ScrollableGraphView(frame: viewMainGraph.bounds, dataSource: self)

it's working good. without crashes.

[2019-03-06 09:11] ivanglushko commented on #156
yeah just make 2 plots (LinePlot and DotPlot) with the same points

[2019-03-07 08:54] Julianvantveld commented on #133
Hey @philackm , super curious if you got any progress

[2019-03-07 22:12] philackm commented on #133
Hi guys. Sorry for the lack of communication here. I'm currently working full-time and am in the last semester of my Master's course, so I have had very little time to dedicate to anything else. Hopefully once this semester is finished I will have some free-time to continue work on this.

Alternatively, I'm more than happy to assign a few people (if anyone is interested) as collaborators to mainta

[2019-03-12 14:48] Julianvantveld commented on #133
Thanks for your reply and fully understandable. My personal thoughts is that the feature to select nodes and then do something with it (detail-screens etc..) is something requested a lot. And from what I've seen there are a few PR's ready offering this exact functionality.

But of course time is needed for it to be checked and merged, and until then Ill watch this repo closely!

[2019-03-14 07:20] Travloper opened #166 "app crashes on func. - setPlotPointPositions(forNewlyActivatedPoints activatedPoints: [Int], withData data: [Double]) when i scroll the graph"
Earlier everything was working fine until today, when i scroll the graph it crashes on the func. - `setPlotPointPositions(forNewlyActivatedPoints activatedPoints: [Int], withData data: [Double]) ` on the line - `graphPoints[activatedPointIndex].x = newPosition.x`  with error - `Thread 1: Fatal error: Index out of range`. What could be the possible reason??

[2019-03-25 07:32] ghost opened #167 "Maximum Number of Points on screen"
Hi
is there way to see how many points can be fit to viewable screen , not whole scrollable view only current view fit to screen ?

also i found max 40-50 points fit to current viewable screen , is there way to increase it ??

[2019-04-03 14:04] ahmedAlmasri commented on #105
+1

[2019-05-09 12:41] Rakibrz commented on #166
Same Problem with me

[2019-05-09 12:45] Rakibrz opened #170 "DotPlot are not clickable"
How can I achieve dot plots clickable? I want to fire the event on the selected plot.

[2019-05-27 08:22] YunusAndreasson commented on #136
Same thing for me.

[2019-06-27 20:14] ghost commented on #136
Any updates on it?

[2019-07-18 19:35] trevorphillipscoding commented on #170
any update on this?

[2019-07-29 01:40] omerbaskurt opened #171 "Ease out animation bug"
Hi, thanks for this great library. I noticed a problem on the bar graph when reloading a new data set with default animation. This behavior does not happen when not using any animation or using the elastic one.
This is the first state of the graph:
<img width="180" alt="1" src="https://user-images.githubusercontent.com/13778103/62016296-59f98b00-b17f-11e9-9b65-6f6d7a95a671.png">
After reloading wi

[2019-08-11 12:15] dipayan92Innofied opened #172 "y-axis dynamic value instead of original value."
Currently the Y axis represents digit value like the intermediate stops. I want to have option where I can use [String] instead of those digits. Will it be possible?

[2019-08-22 09:56] chyiiiiiiiiiiii commented on #136
I can solve this problem .
Just have this codes after you get data

Warning : Don't set **dataSource** at the beginning

I hope it can works for you

[2019-08-22 09:57] chyiiiiiiiiiiii commented on #105
I can solve this problem .
Just have this codes after you get data

Warning : Don't set **dataSource** at the beginning

I hope it can works for you

[2019-08-27 16:35] AlmightyBeaver commented on #166
Same here when I rotate the device. Scrolling is working for me

[2019-09-21 11:21] hakkurishian commented on #166
same here. Looks like graphPoints is not up to date at that point. Is there any plan to update this useful library any time soon @philackm ?

[2019-10-22 18:27] mredig opened #173 "Carthage Compile error"
The current release version errors when Carthage tries to compile. All that needs to be done is to tag the current commit as a new release as the fix is already in the latest commit on the master branch.

[2019-11-27 16:56] badiibs commented on #165
Check the DataSource functions !
----------------------------------
func value(forPlot plot: Plot, atIndex pointIndex: Int) -> Double {
           switch(plot.identifier) {
           case "blue": return Double(arrBlue[pointIndex])
           case "blueDot": return Double(arrBlue[pointIndex])
           case "orange": return Double(arrPink[pointIndex])
           case "darkLineDot": return Double(

[2019-12-04 08:27] thanasak22 opened #174 "How to Create a Stacked Bar Chart?"
Is it possible to make stacked bar chart?

[2020-02-10 23:39] cpboyce2 commented on #166
Same issue with me, have found no solution.

[2020-04-17 11:48] RaphaelLesourd opened #177 "App crashed every time a value is added"
Keeps on crashing the app , what am I missing here???

this is where it crashes:
 internal func setPlotPointPositions(forNewlyActivatedPoints activatedPoints: [Int], withData data: [Double]) {

        var index = 0
        for activatedPointIndex in activatedPoints {

            let dataPosition = index
            let value = data[dataPosition]

            let newPosition = graphViewDrawingDel

[2020-04-18 08:07] sanctovali commented on #170
I can suggest you to invert the calculatePosition(atIndex: , value:) -> CGpoint to get index, and then handle this

[2020-04-18 09:51] benmckillop commented on #177
Hi, I'm having this issue too. I have gotten around it by drawing the graph each time I add a datapoint. However, you need to ensure that you remove the graph view before adding the subview again.

You can do this by adding the following code to the top of the draw graph function.
`        for view in graphContainer.subviews {
            view.removeFromSuperview()
        }`

[2020-04-18 10:17] RaphaelLesourd commented on #177
i see, I have tried that . alas nothing does it... keeps on crashing every single time a new entry is added to firebase data base ... I ll go with something else ... cause it s not viable but thank you

[2020-05-18 22:24] emrekucukceng commented on #25
You can do it with add multi different color bar plot.
Like this;

[code]

[code]
[code]
[code]

Select Data Like This;
[code]

[2020-05-21 20:44] ucelme opened #178 "App crash on startup"
Hello. I used example with storyboard, copied the code vor view controller and storyboard and get in my project crash on the line -
graphView.dataSource = self

[2020-06-09 18:59] #171 closed, assigned to nobody

[2020-06-24 10:33] roarapps commented on #177
@birkyboydesign did you find a good alternative with similar animation?

[2020-07-03 06:41] goelay opened #179 "As I change the min and max the reference lines text doesn't change"
As I change the min and max for Y-AXIS the reference lines text doesn't change? How can I fix this.

[2020-07-04 08:16] banghuazhao opened #180 "Error installing ScrollableGraphView from Cocopod"
[!] Error installing ScrollableGraphView
[!] /usr/bin/git clone https://github.com/philackm/ScrollableGraphView.git /var/folders/fs/jk40yr1d4vjbyndwq8n0bb6h0000gn/T/d20200704-2926-1cer985 --template= --single-branch --depth 1 --branch 4.0.6

Cloning into '/var/folders/fs/jk40yr1d4vjbyndwq8n0bb6h0000gn/T/d20200704-2926-1cer985'...
error: RPC failed; curl 18 transfer closed with outstanding read dat

[2020-07-14 23:41] veleskevich opened #181 "pointIndex - current day"
Hello. How I can get pointIndex show current day with date?

[2020-08-12 14:04] RobSwish opened #182 "Is there a way to stop the graph trailing to 0 at the beginning and end of a plot?"

[2020-08-28 10:55] NalineeSingh01 opened #183 "Crashing if all the values for Y axis are 0"

[2020-08-28 11:04] #183 closed, assigned to nobody

[2020-09-04 09:00] javadmahmoodi opened #184 "put a number related to each bar index"
Hello.  I use a bar chart.
How can I put a number related to each bar index?
Help me please🙏🏻
Thank you🌹

![image](https://user-images.githubusercontent.com/11042152/92221358-9afbbd00-eeb2-11ea-9bc0-eff954fc299a.png)

[2020-09-19 18:12] javadmahmoodi opened #185 "change the color of each column"
Hello, how can I change the color of each column to my desired color?  Please help me to do this.  Thank you very much 🙏🏻🙏🏻🌹

![image](https://user-images.githubusercontent.com/11042152/93686097-4880ea00-fac9-11ea-851f-18c06d7b50d4.png)

[2020-09-29 00:27] jpnoe commented on #170
How do you mean?

[2020-10-06 20:51] jpnoe commented on #133
Which repo did you find that has this functionality? @Julianvantveld

[2020-10-06 21:32] jpnoe commented on #182
This would be immensely helpful

[2020-11-10 07:21] iarshad20 commented on #174
No comments yet. A stacked bar chart would be very helpful

[2021-04-08 08:53] CristianSerea opened #187 "Bar Chart customisations"
Hello guys, i really like this library, but I would like if someone help me to config my chart with these options:
1. Is there any way to add vertical gradient for bar plots?
2. Is there any way to add a left padding between data points (left vertical panel) and the scroll area? I want to avoid overlapping bar plots with the left panel.
3. Is there any way to add some vertical lines between bar pl

[2022-01-04 04:38] hemant-avaal commented on #179
@goelay I also get the same bug. Did you solve it??

[2022-02-07 16:22] 0xPr0xy commented on #136
same

[2022-06-23 21:53] MikhailovAl commented on #182
+++

[2022-09-14 08:05] #137 closed

[2022-09-14 08:06] #103 closed